# Folders
.claude/
.conda/
.venv/
.vscode/
abandoned/
bin/
datasources/
diskcache_dir/
docs/recordings/*
etc/
example_projects/
lib/
logs/
share/
src/ansari_whatsapp.egg-info/*
tmp/
dist/

# Files
.__atomic-write*
.env
.history
*.pyc
pyvenv.cfg
tests/*.log
tests/*.json
zrok.exe
